@model TrashCollectorMVP.Models.EmployeeCustomerViewModel

@{
    ViewData["Title"] = "Employee Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Home</h1>

<p>
    <a asp-action="Create">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Customers to Pickup Today</h4>
<p> Today is @DateTime.Today.ToString("dddd")</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.ZipCode)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@customer.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
