@model TrashCollectorMVP.Models.EmployeeCustomerViewModel

@{
    ViewData["Title"] = "Employee Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Home</h1>

@if (Model.Employees.Count() < 1)
{
    <p>
        <a asp-action="Create">Create Your Employee Profile</a>
    </p>
}
else
{
    <h2>Welcome back, <i> @Model.Employees[0].FirstName !</i></h2>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchPickupsByDay">
            <div class="form-group">
                <label asp-for="Customers.FirstOrDefault().WeeklyPickUpDay" class="control-label"></label>
                <select asp-for="WeeklyPickupDayId" class="form-control" asp-items="ViewBag.WeeklyPickUpDayId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Customers to Pickup Today</h4>
<p> Today is @DateTime.Today.ToString("dddd")</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.ZipCode)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@customer.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
